/*PC*/
@media(min-width: 1024px) {
    .header__mobilemenu-item {
        display: none;
    }
}

/*Tablet*/
@media only screen and (min-width: 741px) and (max-width: 1023px) {
    .header {
        height: 180px;
    }
    .header__mobilemenu-item {
        display: none;
    }
    .grid__column-5 {
        width: 33.3334%;
    }
}

/*Mobile*/
@media(max-width: 740px) and (min-width: 377px) {
    .grid__column-5 {
        width: 50%;
    }
    .header {
        height: 100px;
    }
    .header__logo {
        width: 100px;
        height: 100%;
    }
    .header__logo-img {
        max-width: 100%;
    }
    .header__content {
        margin: 8px;
    }
    .container {
        padding-top: 100px;
    }
    .content__nav {
        display: block;
        position: absolute;
        top: 0;
        right: 6px;
    }
    .nav-list {
        display: none;
        height: 360px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .nav-item {
        line-height: 1.4rem;
    }
    .content__description-title {
        font-size: 2.4rem;
        margin: 16px 0;
        line-height: 2.6rem;
    }
    .content__description-number {
        margin: 6px;
        font-size: 1.2rem;
    }
    .header__mobilemenu-item {
        position: relative;
        line-height: 100px!important;
    }

    .header__mobilemenu-item:hover {
        opacity: 0.3;
        cursor: pointer;
    }

    .content__nav ul {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 120px;
        padding: 5px!important;
        background-color: var(--container-color);
    }

    .content__nav:hover ul {
        display: block;
        border: 1px solid var(--background-color);
    }

    .content__nav li {
        list-style: none;
        display: block;
        min-width: 100px;
        padding: 10px;
        border-bottom: 2px solid var(--background-color);
    }

    .modal__inner {
        width: 30rem;
    }

    .grid__columndetail-2 {
        width: 100%!important;
        padding: 15px 15px 0 15px;
    }
    
    .grid__productdetail-img {
        padding-top: 0!important;
        width: 25rem;
        height: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Small mobile*/
@media(max-width: 376px) {
    .grid__column-5 {
        width: 100%;
    }
    .header {
        height: 100px;
    }
    .header__logo {
        width: 100px;
        height: 100%;
    }
    .header__logo-img {
        max-width: 100%;
    }
    .header__content {
        margin: 8px;
    }
    .container {
        padding-top: 100px;
    }
    .content__nav {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav-list {
        display: none;
    }
    .content__description-title {
        font-size: 1.8rem;
        margin: 16px 0 0 0;
        line-height: 2.6rem;
    }
    .content__description-number {
        margin: 6px;
        font-size: 1.2rem;
    }
    .header__mobilemenu-item {
        position: relative;
        line-height: 100px!important;
    }

    .header__mobilemenu-icon {
        font-size: 18px;
    }

    .header__mobilemenu-item:hover {
        opacity: 0.3;
        cursor: pointer;
    }

    .content__nav ul {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 120px;
        padding: 5px!important;
        background-color: var(--container-color);
    }

    .content__nav:hover ul {
        display: block;
        border: 1px solid var(--background-color);
    }

    .content__nav li {
        list-style: none;
        display: block;
        min-width: 100px;
        padding: 10px;
        border-bottom: 2px solid var(--background-color);
    }

    .modal__inner {
        width: 30rem;
    }

    .grid__columndetail-2 {
        width: 100%!important;
        padding: 15px 15px 0 15px;
    }
    
    .grid__productdetail-img {
        padding-top: 0!important;
        width: 25rem;
        height: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
}